<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860561251749-qfd5gukfjqbdje34o4uhe9i68f1qa90o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860561251749-qfd5gukfjqbdje34o4uhe9i68f1qa90o</string>
	<key>API_KEY</key>
	<string>AIzaSyAsUQEyo1Boijp95xpybqVAZB4ijOAeruw</string>
	<key>GCM_SENDER_ID</key>
	<string>860561251749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hanafedeil.fcmTest</string>
	<key>PROJECT_ID</key>
	<string>fcm-test-7374f</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-test-7374f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860561251749:ios:ad6a83c52d4d99b6dc9c4c</string>
</dict>
</plist>